
version: '3.8'
services:
  db:
    image: postgres:15
    env_file:
      - backend/.env
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init-db:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
  backend:
    build: ./backend
    depends_on:
      - db
    env_file:
      - backend/.env
    ports:
      - "4000:4000"
    volumes:
      - ./backend:/usr/src/app
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./frontend:/usr/src/app
volumes:
  postgres-data:
